<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/remodal/remodal.css" />
    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/remodal/remodal-default-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/forms.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/remodal/remodal.js"></script>
    <style>
        .password-wrapper {
            position: relative;
        }
        .last-password-control, .new-password-control {
            position: absolute;
            top: 38px;
            right: 10px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
            background-size: contain;
            cursor: pointer;
            z-index: 10;
        }
        .last-password-control.view, .new-password-control.view {
            background-image: url(https://snipp.ru/demo/495/no-view.svg);
        }
    </style>
</head>

<body>

    <header th:if="${flagRoleAdmin}" th:insert="blocks/headers::header-admin-page"/>
    <header th:unless="${flagRoleAdmin}" th:insert="blocks/headers::header-user-page"/>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>🔐 Изменение пароля</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="${flagRoleAdmin} ? @{/adminpage/profile/changepassword} : @{/profile/changepassword}"
                            method="post" th:object="${passwords}" id="changePasswordForm">

                            <!-- Старый пароль -->
                            <div th:if="${#fields.hasErrors('lastPassword')}" class="alert alert-danger">
                                <div th:errors="*{lastPassword}"></div>
                            </div>
                            <div class="form-group password-wrapper">
                                <label>Старый пароль <span class="text-danger">*</span></label>
                                <input type="password" th:field="*{lastPassword}" class="form-control" id="lastPassword" required placeholder="Введите старый пароль">
                                <a href="#" class="last-password-control"></a>
                            </div>

                            <!-- Новый пароль -->
                            <div th:if="${#fields.hasErrors('newPassword')}" class="alert alert-danger">
                                <div th:errors="*{newPassword}"></div>
                            </div>
                            <div class="form-group password-wrapper">
                                <label>Новый пароль <span class="text-danger">*</span></label>
                                <input type="password" th:field="*{newPassword}" class="form-control" id="newPassword" required placeholder="Введите новый пароль">
                                <a href="#" class="new-password-control"></a>
                            </div>

                            <!-- Повтор нового пароля -->
                            <div th:if="${#fields.hasErrors('newPasswordRepeat')}" class="alert alert-danger">
                                <div th:errors="*{newPasswordRepeat}"></div>
                            </div>
                            <div class="form-group">
                                <label>Повторите новый пароль <span class="text-danger">*</span></label>
                                <input type="password" th:field="*{newPasswordRepeat}" class="form-control" id="newPasswordRepeat" required placeholder="Повторите новый пароль">
                            </div>

                            <div class="form-group text-center">
                                <button type="button" class="btn btn-success" data-remodal-target="modal-password">Изменить пароль</button>
                                <a th:href="${flagRoleAdmin} ? '/adminpage/profile' : '/profile'" class="btn btn-secondary ml-2">Отмена</a>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- Модальное окно подтверждения -->
    <div class="remodal text-center" data-remodal-id="modal-password">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Подтверждение</h1>
        <p>Вы действительно хотите изменить пароль?</p>
        <a class="remodal-confirm mr-4" onclick="document.getElementById('changePasswordForm').submit();">Да</a>
        <button data-remodal-action="cancel" class="remodal-cancel">Нет</button>
    </div>

    <script>
        // Переключение видимости старого пароля
        $('body').on('click', '.last-password-control', function(){
            const $input = $('#lastPassword');
            if ($input.attr('type') === 'password') {
                $(this).addClass('view');
                $input.attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $input.attr('type', 'password');
            }
            return false;
        });

        // Переключение видимости нового пароля
        $('body').on('click', '.new-password-control', function(){
            const $input = $('#newPassword');
            if ($input.attr('type') === 'password') {
                $(this).addClass('view');
                $input.attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $input.attr('type', 'password');
            }
            return false;
        });
    </script>

    </body>
</html>